*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-weight: normal;
}

body{
    width: 80%;
    margin: 0 auto;
}

/* body.debug div[class^="col-"] > div{
    height: 50px;
} */

.row:after{
    content: "";
    clear: both;
    display: table;
    
}

.row{
    margin: 0 -15px;
}

[class^="col-"]{
    float: left;
    padding: 0 15px;
}

.col-100{
    width: 100%;

}

.col-20{
    width: 20%;
    
}

.col-60{
    width: 60%;
    
}

.bg-purple img{
    width: 20%;    
}

.nav{
    display: inline-block;
}

.nav span{
    padding-right: 20px;
    font-size: medium;
}

.bg-yellowish{
    background-image: url("../img/banner.jpg");
    opacity: 92%;
    height: 550px;
    border-radius: 20px;
}

.yellowish-txt{
    background-color: rgba(0, 0, 0, 0.329);
    color: white;
    height: 100%;
}

.yellowish-txt .txt {
    width: 55%;
    padding-top: 400px;
    padding-left: 60px;
}

.bg-blueish{
    background-color: rgb(46, 122, 221);
}



.bg-acqua{
    background-color: rgb(182, 214, 255);
    height: 350px;
}

.bg-acqua.small{
    height: 60px;
}

.containermain{
    background-color: rgb(22, 131, 255);
}

.bg-purpleish{
    background-color: rgb(102, 5, 187);
    height: 50px;
}

.mt-1{
    margin-top: 0.5em;
}



.pd{
    padding: 0.5em;
}




